{:paths ["src" "resources"]

 :deps  {io.github.slagyr/isaac-foundation {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                            :git/sha "8b47fe2162db2159f60d6754b109b4f388ddc9eb"}
         cheshire/cheshire                 {:mvn/version "5.13.0"}
         clj-commons/clj-yaml              {:mvn/version "1.0.29"}
         clout/clout                       {:mvn/version "1.1.0"}
         com.cleancoders.c3kit/apron       {:mvn/version "3.0.0"}
         http-kit/http-kit                 {:mvn/version "2.8.0"}
         org.babashka/http-client          {:mvn/version "0.4.22"}
         org.clojure/tools.cli             {:mvn/version "1.1.230"}}

 :aliases
 {:dev-local {:override-deps {io.github.slagyr/isaac-foundation      {:local/root "../isaac-foundation"}
                              io.github.slagyr/isaac-foundation-spec {:local/root "../isaac-foundation/spec"}
                              marigold.bridge/marigold.bridge        {:local/root "../isaac-foundation/modules/marigold.bridge"}
                              marigold.longwave/marigold.longwave    {:local/root "../isaac-foundation/modules/marigold.longwave"}}}

  :test      {:extra-paths ["spec" "test-resources"]
              :extra-deps  {io.github.slagyr/isaac-server-test-support {:local/root "spec-support"}
                            io.github.cleancoders/c3kit-wire           {:git/tag "2.5.1" :git/sha "1fae444"}
                            isaac.comm.telly/isaac.comm.telly          {:local/root "../isaac/modules/isaac.comm.telly"
                                                                        :exclusions [io.github.slagyr/isaac]}
                            org.clojure/data.xml                       {:mvn/version "0.0.8"}
                            marigold.bridge/marigold.bridge            {:git/url   "https://github.com/slagyr/isaac-foundation.git"
                                                                        :git/sha   "8b47fe2162db2159f60d6754b109b4f388ddc9eb"
                                                                        :deps/root "modules/marigold.bridge"}
                            marigold.longwave/marigold.longwave        {:git/url   "https://github.com/slagyr/isaac-foundation.git"
                                                                        :git/sha   "8b47fe2162db2159f60d6754b109b4f388ddc9eb"
                                                                        :deps/root "modules/marigold.longwave"}}}

  :spec      {:main-opts ["-m" "speclj.main" "-c" "-D" "spec"]}

  :features  {:main-opts ["-m" "gherclj.main"
                          "-f" "features"
                          "-s" "isaac.**-steps"
                          "-t" "~slow"
                          "-t" "~wip"]}}}
