{:id      :isaac.server.test-comm
 :version "0.0.0"
 :factory isaac.module.protocol/module

 :isaac.server/comm
 {:test-comm {:namespace    isaac.server.test-comm
              :extra-schema {:loft  {:type :string
                                     :validations [[:present-when? :type :test-comm]]}
                             :color {:type :string}
                             :mood  {:type :string
                                     :validations [[:one-of? "happy" "sad" "grumpy"]]}}
              :send-schema  {:test-comm/target {:type :string}
                             :test-comm/loft   {:type :string}}}}}
