{:paths ["src"]
 :deps  {io.github.slagyr/isaac-foundation-spec {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                 :git/tag "v0.1.0" :git/sha "fe83ebe3104be4f840303951a4dd3f91b63900c1"
                                                 :deps/root "spec"}
         speclj/speclj                          {:mvn/version "3.13.0"}}}