{:paths ["src"]
 :deps  {io.github.slagyr/isaac-foundation-spec {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                 :git/sha "9e52ea86afee7e646fcb39a8b65b3175b885d765"
                                                 :deps/root "spec"}
         io.github.slagyr/isaac-foundation-test-support {:git/url "https://github.com/slagyr/isaac-foundation.git" :git/sha "9e52ea86afee7e646fcb39a8b65b3175b885d765" :deps/root "spec-support"}
         speclj/speclj                          {:mvn/version "3.13.0"}}}